@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	width:950px;
	margin : 0 auto;
	padding: 0;
}

table {
	border: 0;
	border-collapse: separate;
	border-spacing: 0px;
	float:left;
}